#add-item-button {
  background-color: #21467b;
  border-color: #21467b;
}

#add-item-button:hover {
  background-color: #142a4a;
  border-color: #142a4a;
}

/* #delete-item-button {
  background-color: #ff2442;
  border-color: #ff2442;
} */

/* #delete-item-button:hover {
  background-color: #750312fb;
  border-color: #750312fb;
} */

/* #delete-item-button:hover {
  background-color: #f00322;
} */

/* Test */

#delete-item-button {
  width: 120px;
  height: 38px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #b31312;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #b31312;
}

#delete-item-buttonbutton,
#delete-item-button span {
  transition: 200ms;
}

#delete-item-button .text {
  transform: translateX(15px);
  color: white;
}

#delete-item-button .icon {
  position: absolute;
  border-left: 1px solid white;
  transform: translateX(80px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-item-button svg {
  width: 15px;
  fill: #eee;
}

#delete-item-button:hover {
  background: #b31312;
}

#delete-item-button:hover .text {
  color: transparent;
}

#delete-item-button:hover .icon {
  width: 120px;
  border-left: none;
  transform: translateX(0);
}

#delete-item-button:focus {
  outline: none;
}

#delete-item-button:active .icon svg {
  transform: scale(0.8);
}
