.welcome-container {
  max-width: 80%;
  margin: 2rem auto;
  background-color: #e9ecef;
  padding: 2rem 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

#welcome-button {
  background-color: #21467b;
  border-color: #21467b;
  color: #ffffff;
  font-weight: 400;
}

#welcome-header {
  font-weight: 700;
  margin: 0 0 10px 0;
}

.welcome-action-group {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", "Segoe UI", sans-serif;
  align-items: center;
  margin-top: 20px;
}

#welcome-button {
  font-size: 1rem;
}

#portfolio-link {
  margin: 0 0 0 20px;
}
