.welcome-container {
  max-width: 80%;
  margin: 2rem auto;
  background-color: #e9ecef;
  padding: 2rem 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

#welcome-button {
  background-color: #1dcdfe;
  border-color: #1dcdfe;
}

#welcome-header {
  font-weight: 600;
  margin: 0 0 10px 0;
}

.welcome-action-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#welcome-button {
  font-size: 1rem;
}

#portfolio-link {
  margin: 0 0 0 20px;
}
