/* Buttons */
.detailed-edit-icon,
.detailed-delete-icon {
  width: 27px;
  height: 27px;
}

.detailed-edit-icon:hover {
  color: #1dcdfe;
}

.detailed-delete-icon:hover {
  color: #ff2442;
}

/* Mobile */
@media only screen and (max-width: 767.99px) {
  #detailed-card-stack {
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  #detailed-card-stack {
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
  }
}

/* Laptop or larger */
@media only screen and (min-width: 992px) {
  #detailed-card-stack {
    align-self: flex-start;
  }
}
